@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body{
    font-family: Segoe UI;
    width: 150px;
}

.container{
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    background-image: linear-gradient(#807AE9, #D32A51);
    width:310px;
    height: 270px;
    padding: 30px;
}

.container .close-btn{
    position: absolute;
    right: 10%;
    top: 3%;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.close-btn:hover{
   transform: scale(1.2);
}

.text{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    color: white;
}
.container form{
    margin-top: -20px;
}

.data{
    height: 45px;
    margin: 40px 0;
    width: 100%;
    font-size: 15px;
    color: white;
}

.data input{
    width: 100%;
    height: 100%;
    font-size: 19px;
    border-bottom: 1px solid rgb(228, 228, 228);
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: transparent;
    color: white;
    outline: none;
}

input::placeholder{
    color: white;
    filter: opacity(50%) ;
}


.inner{
    width: 100%;
    background-color: rgb(253, 253, 253);
    text-align: center;
    height: 50px;
    border-color: transparent;
    border-radius: 12px;
}

.komentar{
    margin-bottom: 30px;
    margin-top: -5px;
}

.btn{
    transform: translateY(50px);
    width: 70%;
    height: 45px;
    text-align: center;
    border-radius: 12px;
    border: 0.5px solid gray;
    margin: 5% auto 1% auto;
}

button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    color: gray;
    font-size: 20px;
    border-radius: 12px;
    border: none;
}

.btn:hover{
    filter: opacity(50%);
}
