body {
    color:black;
    font-family: Segoe UI;
    padding: 0px;
    margin: 0px; 
    background-image: linear-gradient(#0099FF, #4EE1FF);
    background-position:fixed; 
    background-size: cover; 
    background-repeat: no-repeat;
    height: 720px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    width: 80px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(55, 55, 56),rgb(55, 55, 56),rgb(209, 205, 205));
}

.sidebar img{
    display: block;
    padding-top: 20px;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar img:hover{
    filter: opacity(50%);
}

.sidebar img:active{
    filter: opacity(100%);
}

.button-section{
    position: absolute;right:10%;top: 5%;
    font-style: normal;
    font-weight: bold;
    font-size: .5rem;
    color: black;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    cursor: pointer;
    outline: none;
}

.button{
    color: rgb(5, 5, 5);
    font-weight: bold;   
}

.button-section:hover{
    transform: scale(1.2);
}

.delete-button {
    height: 15%;
    float: right;
}

.delete-button:hover {
    filter: invert(50%);
}

.gore {
    text-align: center;
    color:white;
    margin-left: 80px;
    padding: 0px 10px;
}

.gore h1 {
    text-shadow: 0px 0px 12px #000000;
}

.tasks-section {
    text-align: center;
    color:black;
    /*margin-left: 80px;*/
    margin: 0 0 0 5%;
    padding: 0px 5px;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-y: scroll;
    height: 508px;
    flex-wrap: wrap;
    margin-left: 65px;
}

.card-list::-webkit-scrollbar {
    width: 5px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #888;
}

.card-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.card {
    height: 275px;
    width: 200px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: white;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    margin-bottom: 15px;
    margin-left: 20px;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(0px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,black,gray);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 1.5rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: black;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin: 0rem 0 0rem;
    padding: .5rem 0 0rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: black;
    text-transform: uppercase;
    font-size: 10px;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,black,gray);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-color: black;
}

.title-bar {
    -webkit-app-region: drag;
    height: 30px; 
    background-color: rgb(55, 55, 56);
    padding: none;
    margin: 0px; 
}

.title {
    padding-left: 85px;
    padding-top: 5px;
    position: fixed;
    top: 0px;
    left: 6px; 
    color: whitesmoke;
    font-family: Segoe UI; 
}

.title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
}

.title-bar-btns button {
    background-color: rgb(55, 55, 56); /* Green */
    border: none;
    color: white;
    padding-inline: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    outline: none;
}

.title-bar-btns button img {
    height: 35%;
}

#close-btn:hover{
    background-color:salmon;
    outline: none;
}

#close-btn:active{
    background-color:red;
    outline: none;
}

#min-btn:hover{
    background-color:rgb(70, 70, 70)
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.yammer {
    margin-bottom: 45px;
}

.tools {
    margin-bottom: 150px;
}