.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    width: 80px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(55, 55, 56),rgb(55, 55, 56),rgb(209, 205, 205));
}

.sidebar img{
    display: block;
    padding-top: 20px;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar img:hover{
    filter: opacity(50%);
}

.sidebar img:active{
    filter: opacity(100%);
}