@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    background-image: linear-gradient(#0099FF, #4EE1FF);
    color:white;
    font-family: Segoe UI; 
    margin: 0;
    padding: 0;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    width: 80px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(55, 55, 56),rgb(55, 55, 56),rgb(209, 205, 205));
}

.sidebar img{
    display: block;
    padding-top: 20px;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar img:hover{
    filter: opacity(50%);
}

.sidebar img:active{
    filter: opacity(100%);
}

.tools_part {
    margin-left: 80px;
    padding: 0px 10px;
}

.gore {
    text-align: center;
    color:white;
    margin-left: 80px;
    padding: 0px 10px;
    margin-bottom: 100px;
    text-shadow: 0px 0px 12px #000000;
}


/* Cards */

.card {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform 300ms;
    text-align: center;
    text-shadow: 0px 0px 12px #000000;
}

.card a {
    transform: translateX(-100%) translateY(-100%);
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    transform: scale(0.3) translateX(-100%) translateY(-100%);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.card img:hover {
    filter: opacity(100%);
}

.card img:active {
    filter: opacity(50%);
}

.add_btn {
    display: inline-block;
    transition: transform 300ms;
    transform: scale(0.3) translateY(-100%) translateX(-100%);
}

.add_btn:hover {
    transform: scale(0.4) translateY(-75%) translateX(-75%);
    filter: opacity(100%);
}

.add_btn:active {
    filter: opacity(50%);
}

.ico {
    margin: none;
}

.title-bar {
    -webkit-app-region: drag;
    height: 30px; 
    background-color: rgb(55, 55, 56);
    padding: none;
    margin: 0px; 
}

.title {
    padding-left: 85px;
    padding-top: 5px;
    position: fixed;
    top: 0px;
    left: 6px; 
    color: whitesmoke;
    font-family: Segoe UI; 
}

.title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
}

.title-bar-btns button {
    background-color: rgb(55, 55, 56); /* Green */
    border: none;
    color: white;
    padding-inline: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    outline: none;
}

.title-bar-btns button img {
    height: 35%;
}

#close-btn:hover{
    background-color:salmon;
    outline: none;
}

#close-btn:active{
    background-color:red;
    outline: none;
}

#min-btn:hover{
    background-color:rgb(70, 70, 70)
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.yammer {
    margin-bottom: 45px;
}

.tools {
    margin-bottom: 150px;
}